.expander{
    max-height: 0px;
    overflow: hidden;
    transition: ease-out .25s;
    min-height: 31px;
	position: relative;
	margin-bottom: 1em;
	border: 1px solid #3a475e;
}

.expander h4{
	background: #3a475e;
	text-indent: 5px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0;
}

.expander > p{
	padding: .5em 6px;	
}

.expander h4 > span{
	position: absolute;
	right: 5px;
}

.expander h4 > span:after{
	content: "+";
	color: white;
	bottom: 1px;
}

.open{
    max-height: unset;
}

.expander.open h4 > span:after{
	content: "-";
	color: white;
}

#desktopNav{
	padding-left: 680px;
	max-height: 48.8px;
	margin-right: 80px !important;
	padding-right: 100px !important;
	display: flex;
	justify-content: center;
	align-items: flex-end;
    flex-wrap: wrap-reverse;
}

#desktopNav .main{
	display: flex;
	height: 107px;
	align-items: flex-end;
}
#desktopNav .main a{
	margin-bottom: 5px;
}

#desktopNav .subMenu{
	top: 48px;
}




@media only screen and (max-width: 1670px){
	#desktopNav{
		padding-left: 550px;
	}
}

@media only screen and (max-width: 1500px){
	#desktopNav{
		padding-left: 410px;
	}
}

#MenuIcon{
	display: block !important; 
	top: 45px;
	/* right: -80px !important;
	bottom: 0 !important;  */
}

@media only screen and (max-width: 555px){
	#MenuIcon{
		display: block !important; 
	}
}
#MobileNavigation{
	display: block !important;
}

/*
     FILE ARCHIVED ON 12:22:11 Jun 04, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:26:11 Dec 14, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.568
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.01
  esindex: 0.013
  cdx.remote: 7.923
  LoadShardBlock: 195.947 (3)
  PetaboxLoader3.datanode: 249.455 (6)
  PetaboxLoader3.resolve: 299.425 (3)
  load_resource: 525.268 (2)
  loaddict: 57.534
*/